---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Бесплатный урок',
        href: 'https://youtu.be/fOq9qZBgdm0',
        target: '_blank',
      },
      { text: 'Узнать больше', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Нейрографика- творческий метод проработки своих программ и достижении наилучших результатов во всех жизненных
        сферах.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features2
    id="features"
    title="Что такое нейрографика"
    items={[
      {
        description:
          'Нейрографика — это уникальный метод самопомощи, который помогает людям разобраться в своих переживаниях, эмоциональных состояниях и внутренних конфликтах с помощью рисования. Он сочетает в себе элементы психологии, философии, социологии, нейрофизиологии и искусства.',
        icon: 'tabler:heart',
      },
      {
        description:
          'Автор метода Пискарев П.М. — Топософ. Художник. Архитектор. Доктор психологических наук. Профессор. Действительный член МАПН. Председатель совета директоров МАНГо. Обладатель более 40 авторских свидетельств. Основатель Института психологии творчества.',
        icon: 'tabler:components',
      },
      {
        description:
          'Воображение первично — один из главных постулатов Нейрографики. Как говорил Эйнштейн: "«Воображение — это самое главное, оно является отображением того, что мы притягиваем в свою жизнь. Воображение важнее, чем знание. Знание ограниченные, тогда как воображение охватывает целый мир, стимулируя прогресс, эволюцию».',
        icon: 'tabler:wand',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Зачем рисовать нейрографику"
    items={[
      {
        title: 'Рисуйте эмоции, чтобы понять и управлять ими',
        description:
          'Нейрографика предлагает вам нарисовать свои чувства, что помогает осознать и понять их. Когда вы видите свои эмоции на бумаге, они становятся менее пугающими и более управляемыми.',
      },
      {
        title: 'Рисование как способ трансформации негативных эмоций',
        description:
          'Процесс рисования помогает преобразовать негативные эмоции в более позитивные. Вы можете визуализировать свои страхи и переживания, а затем «перерисовать» их в более гармоничные и приятные образы.',
      },
      {
        title: 'Путь к осознанности и контролю над эмоциями',
        description:
          'Нейрографика способствует повышению уровня осознанности. Когда вы начинаете обращать внимание на свои мысли и чувства, вам становится легче контролировать их и не давать им управлять вашей жизнью.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Создание новых нейронных связей для позитивного мышления',
        description:
          'Нейрографика активирует различные участки мозга, создавая новые нейронные связи. Это способствует формированию новых, более позитивных паттернов мышления и поведения.',
      },
      {
        title: 'Визуализация решений для эффективного подхода к проблемам',
        description: 'Нейрографика помогает в решении проблем, визуализируя различные варианты и подходы.',
      },
      {
        title: 'Доступ к подсознанию и неисчерпаемому источнику вдохновения',
        description:
          'Нейрографика помогает наладить связь с подсознанием, выявить скрытые проблемы или желания. Дает доступ к неисчерпаемому источнику вдохновения',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps
    title="Как начать рисовать нейрографику"
    items={[
      {
        title: 'Шаг 1',
        description: 'Найдите спокойное место, где вас никто не побеспокоит, и выделите время для практики.',
        icon: 'tabler:package',
      },
      {
        title: 'Шаг 2',
        description: 'Вам понадобятся бумага, ручки или фломастеры. Не бойтесь экспериментировать с цветами!',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Шаг 3',
        description:
          'Нарисуйте фигуры, которые отображают ваши чувства. Не думайте о результате — просто дайте себе возможность выразить то, что у вас на душе.',
        icon: 'tabler:paint',
      },
      {
        title: 'Шаг 4',
        description:
          'Применяйте нейрографические линии и формы для трансформации негативных эмоций. Постарайтесь создать гармоничные образы.',
        icon: 'tabler:package',
      },
      {
        title: 'Шаг 5',
        description:
          'После завершения работы уделите время, чтобы осмыслить, что вы чувствовали во время рисования и как изменилось ваше состояние.',
        icon: 'tabler:letter-case',
      },

      {
        title: 'Готово!',
        description: '',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Работы учеников"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features2
    title="Отзывы учеников"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts id="courses" title="Курсы" />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Часто задаваемые вопросы"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Для кого подходит нейрографика?',
        description:
          'Нейрографика подходит для людей разных возрастов и профессий. Она может быть полезна как для тех, кто хочет разобраться в своих эмоциях, так и для тех, кто стремится развить креативность или улучшить навыки саморегуляции.',
      },
      {
        title: 'Нужно ли иметь художественные навыки для нейрографики?',
        description:
          'Нет, художественные навыки не требуются. Нейрографика ориентирована на процесс, а не на результат. Важен сам человек, его внутреннее состояние, а не рисунок. Главное — это ваше желание выразить свои мысли и чувства, а не создание «художественного» произведения.',
      },
      {
        title: 'Каковы преимущества нейрографики?',
        description:
          'Нейрографика помогает снизить стресс, улучшить эмоциональное состояние, развить креативное мышление и облегчить осознание и проработку внутренних конфликтов.',
      },
      {
        title: 'Сколько времени занимает сеанс нейрографики?',
        description:
          'Длительность сеанса может варьироваться, но обычно он занимает от 1 до 2 часов. Время может зависеть от сложности темы и глубины проработки.',
      },
      {
        title: 'Где можно обучиться нейрографике?',
        description:
          'Существуют различные курсы и тренинги по нейрографике, которые проводятся как офлайн, так и онлайн. Главное учиться у сертифицированного инструктора Нейрографики',
      },
      {
        title: 'Есть ли противопоказания для практики нейрографики?',
        description:
          'Хотя нейрографика считается безопасной, людям с серьезными психическими заболеваниями или в состоянии острого стресса стоит проконсультироваться с профессионалом перед началом практики.',
      },
      {
        title: 'Как нейрографика может помочь в решении конкретных проблем?',
        description:
          'Нейрографика помогает визуализировать и проработать внутренние конфликты, страхи и переживания. Через процесс рисования вы можете лучше понять свои эмоции и найти пути их трансформации, что может привести к более эффективным решениям проблем в вашей жизни.',
      },
      {
        title: 'В чем секрет Нейрографики?',
        description: 'Основной актив Нейрографики — нейрографическая линия или линия Пискарева.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title"> Подпишитесь на рассылку </Fragment>

    <Fragment slot="subtitle">
      Будьте в курсе всех новостей о методе, получайте новый статьи, видео и информацию о новых курсах и мастер-классах.
    </Fragment>
  </CallToAction>
</Layout>
